@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.printable {
  display: none;
}

@media print {
  .not-print {
    display: none;
  }
  .printable {
    display: block
  }
}  

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapouter{
  position:relative;
  text-align:right;
  width:100%;
  height:400px;
}

.gmap_canvas {
  overflow:hidden;
  background:none !important;
  width:100%;
  height:400px;
}

.gmap_iframe {
  height:400px !important;
}
